<% provide(:title, 'About') %>
<h1>About</h1>
<div class="text">
<p>
  This website is a personal project dedicated to exploration and learning. The name comes from the name of Charles Darwin's ship, The HMS Beagle. Also, my first dog was a Beagle named Chip, and he was awesome. I hope you have fun exploring the site. If you're here checking out my programming skills, please keep in mind that this is a work in progress.
  <br><br>
  Enjoy!
  <br><br>
  Michael Dunnigan
</p>
</div>

