<h1>About</h1>
<p>
I'm not quite sure what this website is all about. The name comes from the name of Charles Darwin's ship, The HMS Beagle. Also, my first dog was a Beagle, and he was awesome. I hope you have fun exploring the site. If you're here checking out my programming skills, please keep in mind that this is just a side project. Part passion and part exploration.
<br><br>
Enjoy!
<br><br>
Michael Dunnigan
</p>
