<% provide(:title, 'Home') %>
<p>
    <table class="button_table" align="center">
      <tr><td></td><td></td><td></td></tr>
      <tr>
        <td></td>
        <td>
          <a href = <%= blob_path %>>
            <img src="/assets/blob-button.gif"/>
          </a>
        </td>
        <td></td>
      </tr>
      <tr><td></td><td></td><td></td></tr>
    </table>
</p>