<% provide(:title, 'Sign In') %>
<p>
    <table class="button_table" align="center">
      <tr><td></td><td></td><td></td></tr>
      <tr>
        <td></td>
        <td>
          <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
        </td>
        <td></td>
      </tr>
      <tr><td></td><td></td><td></td></tr>
    </table>
</p>