<% provide(:title, @flash_deck.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span12">
      <%= render 'flash_decks/flash_deck' %>
  </div>
</div>

