<html>
<head>
<title>Blob Sallad</title>


</head>
<body>

<%= render 'iframedsallad' %>

<br>
<b>Move me. Split me with 'h'. Join me with 'j'. Turn gravity on / off with 'g'.</b>
<br>
<i>(Courtesy of: <a href="http://www.blobsallad.se/">http://www.blobsallad.se/</a>)</i>
</body>
</html>
