@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$logoYellow: #F8E803;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* overrides */

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* universal */

.container-left {
  margin-left: 10px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.button_table {
  border-collapse: separate;
  border-spacing: 10px;

  td {
    overflow: hidden;
    width: 128px;
    height: 112px;
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.text {
  margin-left: 150px;
  margin-right: 150px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.grayText {
  color: $gray;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: black;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
      background-color: white;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* flash_decks */

.flash_decks {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.flash_deck {
  margin: 10px;
  float: left;
  border: solid 2px black;
  padding: 5px;
  width: 140px;
  height: 180px;
  text-align: center;
  word-wrap: break-word;
  background-color: #A2C9F0;
  font-weight: bold;
  box-shadow: 10px 10px 5px #888888;
}

.new_flash_deck {
  text-align: center;
  textarea {
    border: solid 1px black;
    padding: 5px;
    width: 140px;
    height: 180px;
    text-align: center;
    resize: none;
    maxlength: 140;
    font-weight: bold;
  }
}

/* flash_cards */

.flash_cards {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.flash_card_center {
  margin-left: 25%;
}

.flash_card_show {
  margin: 10px;
  float: left;
  border: solid 2px black;
  padding: 5px;
  width: 140px;
  height: 180px;
  text-align: center;
  word-wrap: break-word;
  background-color: #A2C9F0;
  font-weight: bold;
  box-shadow: 10px 10px 5px #888888;
}

.flash_card_hide {
  margin: 0px;
  float: left;
  border: solid 0px black;
  padding: 0px;
  width: 0px;
  height: 0px;
  text-align: center;
  word-wrap: break-word;
  background-color: #A2C9F0;
  font-weight: bold;
  box-shadow: 10px 10px 5px #888888;
  visibility: hidden;
}

.new_flash_card {
  text-align: center;
  textarea {
    border: solid 1px black;
    padding: 5px;
    width: 140px;
    height: 180px;
    text-align: center;
    resize: none;
    maxlength: 140;
    font-weight: bold;
  }
}
