<footer class="footer">
  <a href="http://www.darkmarks.net/">
    <%=image_tag("be-the-beagle-1.jpg", alt: "Be-The-Beagle")%>
  </a>
  <span class="grayText"><i>One does not discover new lands without consenting to lose sight of the shore for a very long time.</i></span>
  <span style="float:right;margin-right:16px">
    <%= link_to("Home",home_path) %>
  </span>
  <span style="float:right;margin-right:16px">
    <%= link_to("About",about_path) %>
  </span>
</footer>
