<hr>
<%=image_tag("be-the-beagle.jpg", alt: "Be-The-Beagle")%>
<span style="float:right;margin-left:16px">
  <%= link_to("Home",home_path) %>
</span>
<span style="float:right;margin-left:16px">
  <%= link_to("About",about_path) %>
</span>
<i>One does not discover new lands without consenting to lose sight of the shore for a very long time.</i>

